[v-cloak] {
    display: none!important;
  }
html{
    height: 100%;
}
body{
    margin: 0;
    padding: 0;
    height: 100%;
    background: #fff;
    font-family: "微软雅黑",Arial,sans-serif;
}
#app{
    width: 100%;
    height: 100%;
    background: transparent;
}
::-webkit-scrollbar-track
{
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
background-color: #fff;
border-radius: 10px;
}

::-webkit-scrollbar
{
height: 12px;
width: 0px;
background-color: #fff;
}

::-webkit-scrollbar-thumb
{
border-radius: 0px;
background-color: rgba(0,0,0,0.1);
}
canvas {
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}
.online-wrap{
    width: 666px;
    min-height: 20px;
    margin: 0 auto;
    font-size: 14px;
    position: relative;
    padding-top: 10px;
    padding-bottom: 5px;
    
}
.online-user{
    line-height: 26px;
    display: inline-block;
    height: 26px;
    padding: 0 16px;
    color: white;
    background-color: rgba(0,0,0,0.4);
    border-radius: 26px;
    font-size: 12px;
    margin-bottom: 3px;
}
.online-user img{
    height: 26px;
    width: 26px;
    border-radius: 50%;
    vertical-align: top;
}
.content{
    width: 666px;
    height: 600px;
    margin: 0 auto;
    top: 0px;
    background-color: #F5F5F5;
    position: relative;
    border: 1px solid #d5d5d5;
}
.con-body{
    height: 459px;
    overflow: auto;
    text-align: center;
    padding: 0 8px;
}
.con-foot{
    height: 140px;
    background-color: #fff;
    border-top: 1px solid #d5d5d5;
    position: relative;
}
.icon{
    height: 28px;
    margin-left: 10px;
    margin-top: 5px;
    display: block;
    cursor: pointer;
    float: left;
}
.emotions-wrap{
    position: absolute;
    width: 410px;
    height: 250px;
    background-color:white;
    top: -252px;
    left: -70px;
    border: 1px solid #dbdbdb;
    border-radius: 2px;
}
.emotions-wrap:before{
    position: absolute;
    top: 251px;
    left: 86px;
    display: block;
    content: '';
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-top-color: #dbdbdb;
}
.emo-tool{
    height: 28px;
    background: #f0f0f0;
}
.emo-close{
    float: right;
    margin-right: 5px;
    width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    font-family: Arial;
    text-decoration: none;
    color: #333;
    font-size: 14px;
}
.emo-close:hover{
    color: rgba(18, 150, 17, 1);
}
.emo-panel{

}
.emo-panel ul{
    display: block;
    width: 372px;
    margin: 0 auto;
    padding: 15px 5px 20px;
    overflow: hidden;
    list-style: none;
}
.emo-panel ul li{
    position: relative;
    z-index: 8;
    float: left;
    width: 22px;
    height: 22px;
    padding: 4px;
    margin-left: -1px;
    margin-top: -1px;
    border: 1px solid #e8e8e8;
    cursor: pointer;
}
#msginput{
    height: 62px;
    width: 640px;
    overflow: auto;
    border: none;
    outline: none;
    padding: 5px 12px;
    font-size: 15px;
    font-family: "微软雅黑",Arial,sans-serif;
}
.con-body ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
.sendbtn{
    background-color: #F5F5F5;
    outline: none;
    border: 1px solid #d5d5d5;
    height: 26px;
    line-height: 26px;
    float: right;
    margin-right: 12px;
    padding: 0 12px;
    cursor: pointer;
}
.sendbtn:hover{
    background-color: rgba(18, 150, 17, 1);
    color: #fff;
    
}
.tips{
    display: inline-block;
    height: 20px;
    line-height: 20px;
    background-color: rgba(0,0,0,0.1);
    font-size: 12px;
    color: #fff;
    padding: 0 10px;
    border-radius: 3px;
}
.con-body ul li{
    margin-bottom: 10px;
    margin-top: 2px;
    text-align: left;
    clear: both;
}
.avatar{
    height: 40px;
    width: 40px;
    vertical-align: top;
}
.msg{
    box-sizing: border-box;
    display: inline-block;
    min-height: 40px;
    background-color: #fff;
    padding: 7px;
    line-height: 26px;
    border-radius: 3px;
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
    max-width: 540px;
    font-family: "微软雅黑",Arial,sans-serif;
    font-size: 15px;
}
.msg.green{
    background-color: #9EEA6A;
}
.triangle-left{
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-right: 8px solid #ffffff;
    border-bottom: 8px solid transparent;
    position: absolute;
    left: -8px;
    top: 12px;
}
.triangle-right{
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-left: 8px solid #9EEA6A;
    border-bottom: 8px solid transparent;
    position: absolute;
    right: -8px;
    top: 12px;
}

.config-wrap{
    width: 640px;
    height: 400px;
    background-color: transparent;
    margin: 0 auto;
    position: relative;
    top: 50%;
    margin-top: -300px;
}

.config-wrap ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

.config-wrap ul li{
    float: left;
    height: 80px;
    width: 80px;
    background-color: #fff;
    box-sizing: border-box;
    padding: 4px;
}
.config-wrap ul li.selected{
    background-color: red;
}
.config-wrap ul li>img{
    width: 100%;
    height: 100%;
}
.username{
    width: 300px;
    height: 34px;
    outline: none;
    margin-top: 20px;
    margin-left: 150px;
    border: 1px solid #ddd;
    font-size: 16px;
    padding-left: 6px;
}
.yzcode{
    width: 193px;
    height: 34px;
    outline: none;
    margin-top: 10px;
    margin-left: 150px;
    border: 1px solid #ddd;
    font-size: 16px;
    padding-left: 6px;
}
.joinbtn{
    height: 36px;
    width: 90px;
    border: none;
    outline: none;
    color: rgb(17, 150, 16);
    margin-left: 12px;
    border: 1px solid rgb(17, 150, 16);
    background-color: transparent;
    cursor: pointer;
}